@use 'helpers' as *;

.card {
  display: flex;
  flex-direction: column;
  row-gap: rem(35);
  padding: rem(46) rem(32);

  border: rem(1) solid var(--color-light);
  border-radius: rem(15);
  box-shadow: 5px 5px 20px 0 var(--color-section-bg);

  @include mobile {
    row-gap: rem(20);
    padding: rem(20);
  }

  .card__icon {
    @include mobile {
      width: rem(65);
      height: rem(70);
    }
  }

  &__title {
    color: var(--color-accent);
  }

  &__text {
    flex-grow: 1;
  }

  &__link {
    color: var(--color-button-bg);

    @include hover {
     color: var(--color-gradient-100);
    }
  }
}
