@use 'helpers' as *;

.comments {

  &__container {
    padding-block: rem(90);

    @include mobile {
      padding-block: rem(60);
    }
  }

  &__inner {
    align-items: center;
  }

  &__wrapper-link {
    display: flex;
    justify-content: center;
  }

  &__link {
    border-color: var(--color-button-bg);
    color: var(--color-button-bg);
  }

}
