@use 'helpers' as *;

.inner {
    display: flex;
    flex-direction: column;
    row-gap: rem(40);
    margin-bottom: rem(80);

    @include mobile {
      row-gap: rem(20);
      margin-bottom: rem(40);
    }
  }
