@use 'helpers' as *;
@use '../variables';

.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  column-gap: rem(3);
  width: rem(25);
  height: rem(15);
  padding: 0;
  border: none;
  background-color: transparent;

  @include mobile {
    display: flex;
    flex-shrink: 0;
  }

  &__line {
    width: 100%;
    height: rem(3);
    background-color: var(--color-button-text);
    transition-duration: var(--transition-duration);
  }

  &__line:nth-child(2) {
    width: 50%;
  }

  &__line:last-child {

    width: 70%;
  }

  &--is-active {
    .burger-menu__line{
      &:nth-child(1) {
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        width: 0%;
        opacity: 0;
      }

      &:nth-child(3) {
        position: relative;
        top: rem(-12);
        width: 100%;
        transform: rotate(-45deg);
      }
    }
  }
}

