@use 'helpers' as *;

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  font-weight: 400;
  background-color: var(--color-light);
  color: var(--color-grey);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: var(--font-family-title);
  font-weight: 600;
  color: var(--color-button-text);
}

h1, .h1 {
  @include fluid-text(64, 32);
  text-shadow: rem(2) rem(2) 0 var(--color-section-bg);
}
h2, .h2 {
  @include fluid-text(32, 20);
}

h3, .h3 {
  @include fluid-text(28, 18);
}

h4, .h4 {
  @include fluid-text(24, 20);
}

a,
button,
label,
input,
textarea,
select,
summary,
svg * {
  transition-duration: var(--transition-duration);
}

a {

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  outline: rem(2), solid var(--color-dark);
  outline-offset: rem(4);
  transition-duration: 0s !important;
}
