@use 'helpers' as *;

:root {
  --color-light: #FFF9FD;
  --color-dark: #000000;
  --color-dark-15: #252525;
  --color-dark-40: #444444;

  --color-button-text: #00296D;
  --color-button-bg: #44C6E9;
  --color-section-bg: #D4E4F4;
  --color-grey: #666666;
  --color-accent-reverse: #D9D9D9;
  --color-accent: #2977D5;

  --color-accent-gradient-0: #D4E4F466;
  --color-accent-gradient-100: #84b8f7;

  --color-gradient-0: #706868b3;
  --color-gradient-100: #25b3c080;

  --font-family-base: "Source Sans 3", sans-serif;
  --font-family-title: "Poppins", sans-serif;
  --font-family-accent: "Open Sans", sans-serif;
  --font-family-accent-small: "Lato", sans-serif;

  --container-width: #{rem(1550)};
  --container-padding-x: #{rem(90)};

  @include mobile {
   --container-padding-x: #{rem(20)};
  }

  --transition-duration: 0.2s;
}
